.input {
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;

  &__text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    border: none;
    padding: 8px 16px;
    width: 100%;

    &::placeholder {
      color: #8C8C8C;
    }

    &:focus {
      outline: none;
    }
  }

  &__button {
    width: 20px;
    height: 20px;
    margin: 14px 22px;
    cursor: pointer;
    transition: 300ms;
    border: none;
    background: url("../../assets/svg/setting.svg") no-repeat;

    &:hover {
      transform: scale(1.1);
    }
  }
}
