.container {
  width: 740px;
  margin: 0 auto;
  padding: 0;
}

.slider {
  &__button {
    height: 16px;
    width: 24px;
    background: none;
    border: none;
    transition: 500ms;
    position: relative;

    &:hover {
      transform: scale(1.2);
      cursor: pointer;
    }

    &:disabled {
      transform: scale(1);
      filter: brightness(0.5);
      cursor: default;
    }

    &:active {
      transform: scale(1);
    }
  }

  &__icon {
    display: block;
    position: relative;
    left: 0;
    width: 24px;
    height: 3px;
    border-radius: 50px;
    background-color: #ffffff;

    &_prev {

      &::before {
        position: absolute;
        top: 4px;
        left: -1px;
        content: "";
        width: 12px;
        border-top: 3px solid #ffffff;
        border-radius: 5px;
        transform: rotate(45deg);
      }

      &::after {
        position: absolute;
        top: -4px;
        left: -1px;
        content: "";
        width: 12px;
        border-top: 3px solid #ffffff;
        border-radius: 5px;
        transform: rotate(-45deg);
      }
    }

    &_next {
      &::before {
        position: absolute;
        top: 4px;
        right: -1px;
        content: "";
        width: 12px;
        border-top: 3px solid #ffffff;
        border-radius: 5px;
        transform: rotate(-45deg);
      }

      &::after {
        position: absolute;
        top: -4px;
        right: -1px;
        content: "";
        width: 12px;
        border-top: 3px solid #ffffff;
        border-radius: 5px;
        transform: rotate(45deg);
      }
    }
  }

  &__divider {
    width: 100%;
    height: 2px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, #FFFFFF 51.04%, rgba(255, 255, 255, 0.1) 100%);
  }

  &__text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 36px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 12px;
  }

  &__swiper {
    &_title {
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 44px;
      line-height: 51px;
      color: #ffffff;
      margin-bottom: 16px;
      cursor: default;
    }

    &_wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 854px;
      margin: 0 auto 16px;
    }

    &_container {
      overflow: hidden;
    }

    &_text {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      height: 25px;
      line-height: 25px;
      letter-spacing: 0.5px;
      text-align: center;
      color: #ffffff;
      opacity: 0.4;
      cursor: pointer;
      width: auto !important;

      &.swiper-slide-active {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        opacity: 1;
      }

      &.swiper-slide-prev,
      &.swiper-slide-next {
        opacity: 0.65;
      }
    }
  }

}